$black-normal: #050607;
$black-dark: #141516;
$black-light: #242526;

$white-normal: #F5F7F7;
$white-dark: #EEF0F0;
$white-light: #E6E8E8;

$blue-normal: #2DC7ED;
$blue-dark: #3ACDF1;
$blue-light: #26B7DB;